.container
  %h1="Не закрытые процедуры (#{@tenders.size})"
  .table-responsive
    =link_to "Текущие процедуры (#{@current_count})", tenders_path, class: "btn btn-primary"
    %br/
    %br/
    = button_to "Импортировать (last: #{Time.at(@import_last.time_to).to_formatted_s(:short)})", |
      { controller: :imports, action: :new },                                                    |
      { remote: true, method: :get, class: "btn btn-info" }                                                             |
    %table.table
      %thead
        %tr
          %th Номер процедуры
          %th Имя
          %th Срок итогов
          %th Заказчик

      %tbody
        - @tenders.each do |tender|
          %tr
            %td= link_to tender.data_id, tender
            %td= link_to tender.data_name, rails_email_preview.rep_email_path(preview_id: 'tender_mailer_preview-invitation', tender_id: tender.data_id)
            %td
              - days_to_go = (Time.now.to_i - tender.time_results_till.to_i) / (24 * 60 * 60)
              -if days_to_go > 0
                ="#{tender.time_zone_results_till} проёбываются #{days_to_go} дней!"
              -else
                ="#{tender.time_zone_results_till} осталось #{-days_to_go} дней!"
            %td= tender.data_customer_name
    %br
