.container
  .well.well-sm
    .row
      .col-sm-4
        %span Получатель:
        %strong= @mail.to.first
        %br/
        %span Тема письма:
        %strong= @mail.subject

      .col-sm-4
        %span Тендер:
        %strong= @tender.data_id
        %br/
        %span Лоты по умолчанию:
        %strong= params[:lot_arr]

      .col-sm-4
        %span ID контакта в amo:
        %strong= params[:contact_id]
        %br/
        %span Отправитель:
        %strong= @mail.from.first
  .well.well-sm

    = simple_form_for :amowidget, url: '/amowidget/send_mail_invitation', method: :post do |f|
      = f.input :lot_arr, as: :check_boxes, collection: @tender.data_lots.collect!.with_index{|lot,i| [lot['Name'],i+1]}, checked: params[:lot_arr], include_hidden: false, label: "Выбери лоты которые интерсуют поставщика!"
      -# = f.collection_check_boxes :lot_arr, collection: @tender.data_lots.collect{|lot| lot['Name']}, :id, :name
      = f.hidden_field :manager, value: @mail.from.first
      = f.hidden_field :tender, value: @tender.data_id
      = f.hidden_field :client, value: params[:contact_id]
      = f.submit "Отправить", class: 'btn-lg btn btn-success'


    -# = simple_form_for ActionMailer::MessageDelivery.new, :url => send_mail_path, :method => :post do |f|
    -#   = f.input :mail, as: :hidden, input_html: { value: @mail }
    -#   = f.button :submit, "Отправить",:class => 'btn-xs btn btn-primary'
  %hr
  -# = render 'rails_email_preview/emails/email_iframe'
  = @mail_body_html



-# = with_show_hook :email_body do
-#   - # actual email content, rendered in an iframe to prevent browser styles from interfering
-#   = render 'rails_email_preview/emails/email_iframe'
