.container
  .well
    = "tender_id: #{params[:tender_id]} | "
    = "lot_arr: #{@lot_arr} | "
    = "contact_id: #{params[:contact_id]} | "
  %br
  .well
    = "Mail Sender: #{@mail.from.first} | "
    = "Mail To: #{@mail.to.first}  | "
    = "Mail Subject: #{@mail.subject} | "
    -# = "Mail mailer: #{@mail.mailer} | "
    -# = "Mail mailer: #{@mail.mail_method} | "
    -# = "mail id: #{@mail.to_yaml}"
    -# = "Mail class: #{@mail.object}"

    = form_tag send_mail_invitation_path, method: :post do
      = hidden_field_tag :tender, params[:tender_id]
      = hidden_field_tag 'lot_arr[]', [1,2,3]
      = hidden_field_tag :manager, params[:manager_login]
      = hidden_field_tag :client, params[:contact_id]
      = submit_tag "Отправить"


    -# = simple_form_for ActionMailer::MessageDelivery.new, :url => send_mail_path, :method => :post do |f|
    -#   = f.input :mail, as: :hidden, input_html: { value: @mail }
    -#   = f.button :submit, "Отправить",:class => 'btn-xs btn btn-primary'
  %hr
  %iframe#src-iframe{:seamless => "seamless", :srcdoc => "#{@mail_body_html.to_str}", :style => "width:100%;border:none;padding:0;margin:0;height:0"}

-# = with_show_hook :email_body do
-#   - # actual email content, rendered in an iframe to prevent browser styles from interfering
-#   = render 'rails_email_preview/emails/email_iframe'
