= render "partials/mail/mail_head"
%table.body{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 100%;width: 100%;table-layout: fixed", :width => "100%"}
  %tbody
    %tr{:style => "vertical-align: top"}
      %td.center{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;background-color: #FFFFFF", :valign => "top"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent", :width => "100%"}
          %tbody
            %tr{:style => "vertical-align: top"}
              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                /[if gte mso 9]
                  <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                /[if (IE)]
                  <table width="680" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                  <td>
                %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 680px;margin: 0 auto;text-align: inherit", :width => "100%"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                        %table.block-grid.mixed-two-up{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 680px;color: #333;background-color: transparent", :width => "100%"}
                          %tbody
                            %tr{:style => "vertical-align: top"}
                              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="227">
                                .col.num4{:style => "display: inline-block;vertical-align: top;text-align: center;width: 227px"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;width: 100%;padding-top: 15px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px"}
                                                  %div{:align => "center", :style => "font-size:12px"}
                                                    = link_to(image_tag("24tender_logo_500x100.png", align: "center", alt: "24TENDER", border: "0", style: "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: none;height: auto;line-height: 100%;margin: 0 auto;float: none;width: 100% !important;max-width: 226.666666666667px", title: "Платформа прозрачных бизнес отношений стран ЕАЭС", :width => "226.666666666667"), "#{@tender.data_root_link}")
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="453">
                                .col.num8{:style => "display: inline-block;vertical-align: top;text-align: center;width: 453px"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 15px;padding-right: 0px;padding-bottom: 15px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px"}
                                                  %div{:style => "color:#6E6F7A;line-height:150%;font-family:'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;"}
                                                    %div{:style => "font-family:\"Source Sans Pro\", Tahoma, Verdana, Segoe, sans-serif;font-size:12px;line-height:18px;color:#6E6F7A;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 18px;text-align: center"}
                                                        %span{:style => "color: rgb(128, 128, 128); font-size: 16px; line-height: 24px;"} Платформа прозрачных бизнес отношений стран ЕАЭС
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] </td></tr></table>
                /[if mso]
                  </td></tr></table>
                /[if (IE)]
                  </td></tr></table>
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: #669EB7", :width => "100%"}
          %tbody
            %tr{:style => "vertical-align: top"}
              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                /[if gte mso 9]
                  <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                /[if (IE)]
                  <table width="680" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                  <td>
                %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 680px;margin: 0 auto;text-align: inherit", :width => "100%"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                        %table.block-grid{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 680px;color: #000000;background-color: transparent", :width => "100%"}
                          %tbody
                            %tr{:style => "vertical-align: top"}
                              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="680">
                                .col.num12{:style => "display: inline-block;vertical-align: top;width: 100%"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 20px;padding-right: 0px;padding-bottom: 20px;padding-left: 0px"}
                                                  %div{:style => "color:#ffffff;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:14px;font-family:Lato, Tahoma, Verdana, Segoe, sans-serif;color:#ffffff;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"}
                                                        %span{:style => "font-size: 22px; line-height: 26px;"} Выбирая ваших клиентов, вы выбираете свое будущее.
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"}
                                                        %span{:style => "font-size: 12px; line-height: 14px;"} Сет Годин 
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] </td></tr></table>
                /[if mso]
                  </td></tr></table>
                /[if (IE)]
                  </td></tr></table>
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent", :width => "100%"}
          %tbody
            %tr{:style => "vertical-align: top"}
              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                /[if gte mso 9]
                  <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                /[if (IE)]
                  <table width="680" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                  <td>
                %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 680px;margin: 0 auto;text-align: inherit", :width => "100%"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                        %table.block-grid{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 680px;color: #333;background-color: transparent", :width => "100%"}
                          %tbody
                            %tr{:style => "vertical-align: top"}
                              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="680">
                                .col.num12{:style => "display: inline-block;vertical-align: top;width: 100%"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 15px;padding-right: 0px;padding-bottom: 15px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 15px;padding-left: 10px"}
                                                  %div{:style => "color:#ffffff;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:14px;color:#ffffff;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"}
                                                        %span{:style => "color: rgb(0, 0, 0); font-size: 20px; line-height: 24px;"} Доброго дня, [ИМЯ КЛИЕНТА ИЗ АМО]

                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 0px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                  %div{:style => "color:#B8B8C0;line-height:150%;font-family:Verdana, Geneva, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:18px;color:#B8B8C0;font-family:Verdana, Geneva, sans-serif;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 14px;line-height: 21px;text-align: center"}
                                                        %span{:style => "font-size: 14px; line-height: 21px; color: rgb(51, 51, 51);"}
                                                          %strong= "#{@tender.data_customer_name}"
                                                          %br/
                                                          = "проводит торговую процедуру"
                                                          %br/
                                                          %strong= "#{@tender.data_name}"
                                                      %p{:style => "margin: 0;font-size: 14px;line-height: 21px;text-align: center"}
                                                        %span{:style => "font-size: 14px; line-height: 21px; color: rgb(51, 51, 51);"}= "(идентификационный номер: #{@tender.data_id})"

                                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px"}
                                                  %div{:style => "height: 1px;"}
                                                    %table{:align => "center", :border => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;border-top: 1px solid #BBBBBB;width: 100%"}
                                                      %tbody
                                                        %tr{:style => "vertical-align: top"}
                                                          %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top"}
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] </td></tr></table>
                /[if mso]
                  </td></tr></table>
                /[if (IE)]
                  </td></tr></table>
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent", :width => "100%"}
          %tbody
            %tr{:style => "vertical-align: top"}
              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                /[if gte mso 9]
                  <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                /[if (IE)]
                  <table width="680" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                  <td>
                %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 680px;margin: 0 auto;text-align: inherit", :width => "100%"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                        %table.block-grid.mixed-two-up{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 680px;color: #333;background-color: transparent", :width => "100%"}
                          %tbody
                            %tr{:style => "vertical-align: top"}
                              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="227">
                                .col.num4{:style => "display: inline-block;vertical-align: top;text-align: center;width: 227px"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 10px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px"}
                                                  %div{:style => "color:#555555;line-height:120%;font-family:Verdana, Geneva, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:14px;font-family:Verdana, Geneva, sans-serif;color:#555555;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 14px;line-height: 17px;text-align: center"}
                                                        %strong
                                                          %span{:style => "font-size: 12px; line-height: 14px;"} Информация о процедуре торгов
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="453">
                                .col.num8{:style => "display: inline-block;vertical-align: top;text-align: center;width: 453px"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px"}
                                                  %div{:style => "color:#555555;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:14px;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px"}
                                                        %span{:style => "font-size: 14px; line-height: 16px;"}
                                                          %strong= @tender.data_procedure_full_name
                                                          %br/
                                                        %span{:style => "font-size: 14px; line-height: 16px;"}= "Начало приема предложений: #{@tender.time_zone_start}"
                                                        %br/
                                                        %span{:style => "font-size: 14px; line-height: 16px;"}= "Окончание приема предложений: #{@tender.time_zone_finish}"
                                                        %br/
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px"}
                                                        %span{:style => "font-size: 14px; line-height: 16px;"}= "Подведение итогов до: #{@tender.time_zone_results_till}"
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] </td></tr></table>
                /[if mso]
                  </td></tr></table>
                /[if (IE)]
                  </td></tr></table>
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent", :width => "100%"}
          %tbody
            %tr{:style => "vertical-align: top"}
              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                /[if gte mso 9]
                  <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                /[if (IE)]
                  <table width="680" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                  <td>
                %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 680px;margin: 0 auto;text-align: inherit", :width => "100%"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                        %table.block-grid.mixed-two-up{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 680px;color: #333;background-color: transparent", :width => "100%"}
                          %tbody
                            %tr{:style => "vertical-align: top"}
                              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}




                                - i = 0
                                - while i < @lot_arr.count && @tender.data_lot_info(@lot_arr[i].to_i-1) != nil
                                  = render partial: "partials/mail/lot", locals: {lot_data: @tender.data_lot_info(@lot_arr[i].to_i-1), lot_number: @lot_arr[i].to_i }
                                  - i+=1

                                - if i < @tender.data_lots_count
                                  = render partial: "partials/mail/lots_overall"

                                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                  %tbody
                                    %tr{:style => "vertical-align: top"}
                                      %td.button-container{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 5px;padding-bottom: 10px;padding-left: 5px"}
                                        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                          %tbody
                                            %tr{:style => "vertical-align: top"}
                                              %td.button{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle", :width => "100%"}
                                                /[if mso]
                                                  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#{@tender.data_link}"
                                                  style="
                                                  height:42px;
                                                  v-text-anchor:middle;
                                                  width:223px;"
                                                  arcsize="48%"
                                                  strokecolor="#464F7A"
                                                  fillcolor="#464F7A" >
                                                  <w:anchorlock/>
                                                  <center
                                                  style="color:#ffffff;
                                                  font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
                                                  font-size:16px;">
                                                / [if !mso]><!- -
                                                %div{:align => "center", :style => "display: inline-block;\n              border-radius: 20px; \n              -webkit-border-radius: 20px; \n              -moz-border-radius: 20px; \n              max-width: 50%;\n              width: 100%;\n              border-top: 0px solid transparent;\n              border-right: 0px solid transparent;\n              border-bottom: 0px solid transparent;\n              border-left: 0px solid transparent;"}
                                                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 42", :width => "100%"}
                                                    %tbody
                                                      %tr{:style => "vertical-align: top"}
                                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;border-radius: 20px;                   -webkit-border-radius: 20px;                   -moz-border-radius: 20px;                  color: #ffffff;                  background-color: #464F7A;                  padding-top: 5px;                   padding-right: 5px;                  padding-bottom: 5px;                  padding-left: 5px;                  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align: center", :valign => "middle"}
                                                          / <![endif]
                                                          %a{:href => "#{@tender.data_link}", :style => "display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;background-color: #464F7A;color: #ffffff", :target => "_blank"}
                                                            %span{:style => "font-size:16px;line-height:32px;"}
                                                              %span{"data-mce-style" => "font-size: 14px;", :style => "font-size: 14px; line-height: 28px;"} Подробости торгов
                                                          / [if !mso]><!- -
                                                / <![endif]
                                                /[if mso]
                                                  </center>
                                                  </v:roundrect>
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] </td></tr></table>
                /[if mso]
                  </td></tr></table>
                /[if (IE)]
                  </td></tr></table>

        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: #ffffff", :width => "100%"}
          %tbody
            %tr{:style => "vertical-align: top"}
              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                /[if gte mso 9]
                  <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                /[if (IE)]
                  <table width="680" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                  <td>
                %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 680px;margin: 0 auto;text-align: inherit", :width => "100%"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                        %table.block-grid{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 680px;color: #333;background-color: transparent", :width => "100%"}
                          %tbody
                            %tr{:style => "vertical-align: top"}
                              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="680">
                                .col.num12{:style => "display: inline-block;vertical-align: top;width: 100%"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 10px;padding-right: 0px;padding-bottom: 10px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px"}
                                                  %div{:style => "height: 1px;"}
                                                    %table{:align => "center", :border => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;border-top: 1px solid #BBBBBB;width: 100%"}
                                                      %tbody
                                                        %tr{:style => "vertical-align: top"}
                                                          %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top"}
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] </td></tr></table>
                /[if mso]
                  </td></tr></table>
                /[if (IE)]
                  </td></tr></table>
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent", :width => "100%"}
          %tbody
            %tr{:style => "vertical-align: top"}
              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                /[if gte mso 9]
                  <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                /[if (IE)]
                  <table width="680" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                  <td>
                %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 680px;margin: 0 auto;text-align: inherit", :width => "100%"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                        %table.block-grid.three-up{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 680px;color: #000000;background-color: transparent", :width => "100%"}
                          %tbody
                            %tr{:style => "vertical-align: top"}
                              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="227">
                                .col.num4{:style => "display: inline-block;vertical-align: top;text-align: center;width: 226px"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 25px;padding-right: 25px;padding-bottom: 25px;padding-left: 25px"}
                                                  %div{:style => "color:#555555;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:14px;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"} Ознакомьтесь с тарифами на участие в процедурах
                                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td.button-container{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                    %tbody
                                                      %tr{:style => "vertical-align: top"}
                                                        %td.button{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle", :width => "100%"}
                                                          /[if mso]
                                                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#{@tender.data_root_link}tariff.html"
                                                            style="
                                                            height:42px;
                                                            v-text-anchor:middle;
                                                            width:126px;"
                                                            arcsize="48%"
                                                            strokecolor="#3AAEE0"
                                                            fillcolor="#3AAEE0" >
                                                            <w:anchorlock/>
                                                            <center
                                                            style="color:#ffffff;
                                                            font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
                                                            font-size:16px;">
                                                          / [if !mso]><!- -
                                                          %div{:align => "center", :style => "display: inline-block;\n              border-radius: 20px; \n              -webkit-border-radius: 20px; \n              -moz-border-radius: 20px; \n              max-width: 100%;\n              width: auto;\n              border-top: 0px solid transparent;\n              border-right: 0px solid transparent;\n              border-bottom: 0px solid transparent;\n              border-left: 0px solid transparent;"}
                                                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 42", :width => "100%"}
                                                              %tbody
                                                                %tr{:style => "vertical-align: top"}
                                                                  %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;border-radius: 20px;                   -webkit-border-radius: 20px;                   -moz-border-radius: 20px;                  color: #ffffff;                  background-color: #3AAEE0;                  padding-top: 5px;                   padding-right: 20px;                  padding-bottom: 5px;                  padding-left: 20px;                  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align: center", :valign => "middle"}
                                                                    / <![endif]
                                                                    %a{:href => "#{@tender.data_root_link}tariff.html", :style => "display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;background-color: #3AAEE0;color: #ffffff", :target => "_blank"}
                                                                      %span{:style => "font-size:16px;line-height:32px;"} Тарифы
                                                                    / [if !mso]><!- -
                                                          / <![endif]
                                                          /[if mso]
                                                            </center>
                                                            </v:roundrect>
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="227">
                                .col.num4{:style => "display: inline-block;vertical-align: top;text-align: center;width: 226px"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                  %div{:style => "color:#555555;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:14px;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"} Пройдите регистрацию и аккредитацию для того что бы получать сообщения о новых процедурах!
                                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td.button-container{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                    %tbody
                                                      %tr{:style => "vertical-align: top"}
                                                        %td.button{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle", :width => "100%"}
                                                          /[if mso]
                                                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#{@tender.data_root_link}tp/registration/registeruser.html"
                                                            style="
                                                            height:42px;
                                                            v-text-anchor:middle;
                                                            width:158px;"
                                                            arcsize="48%"
                                                            strokecolor="#69AA5E"
                                                            fillcolor="#69AA5E" >
                                                            <w:anchorlock/>
                                                            <center
                                                            style="color:#ffffff;
                                                            font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
                                                            font-size:16px;">
                                                          / [if !mso]><!- -
                                                          %div{:align => "center", :style => "display: inline-block;\n              border-radius: 20px; \n              -webkit-border-radius: 20px; \n              -moz-border-radius: 20px; \n              max-width: 100%;\n              width: auto;\n              border-top: 0px solid transparent;\n              border-right: 0px solid transparent;\n              border-bottom: 0px solid transparent;\n              border-left: 0px solid transparent;"}
                                                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 42", :width => "100%"}
                                                              %tbody
                                                                %tr{:style => "vertical-align: top"}
                                                                  %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;border-radius: 20px;                   -webkit-border-radius: 20px;                   -moz-border-radius: 20px;                  color: #ffffff;                  background-color: #69AA5E;                  padding-top: 5px;                   padding-right: 20px;                  padding-bottom: 5px;                  padding-left: 20px;                  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align: center", :valign => "middle"}
                                                                    / <![endif]
                                                                    %a{:href => "#{@tender.data_root_link}etp/registration/registeruser.html", :style => "display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;background-color: #69AA5E;color: #ffffff", :target => "_blank"}
                                                                      %span{:style => "font-size:16px;line-height:32px;"} Регистрация
                                                                    / [if !mso]><!- -
                                                          / <![endif]
                                                          /[if mso]
                                                            </center>
                                                            </v:roundrect>
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="227">
                                .col.num4{:style => "display: inline-block;vertical-align: top;text-align: center;width: 226px"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 25px;padding-right: 15px;padding-bottom: 25px;padding-left: 15px"}
                                                  %div{:style => "color:#555555;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:14px;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"} Ознакомьтесь с действующим регламентом торговых процедур. 
                                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td.button-container{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                    %tbody
                                                      %tr{:style => "vertical-align: top"}
                                                        %td.button{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle", :width => "100%"}
                                                          /[if mso]
                                                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#{@tender.data_root_link}regulations.html"
                                                            style="
                                                            height:42px;
                                                            v-text-anchor:middle;
                                                            width:144px;"
                                                            arcsize="48%"
                                                            strokecolor="#EDAD6A"
                                                            fillcolor="#EDAD6A" >
                                                            <w:anchorlock/>
                                                            <center
                                                            style="color:#ffffff;
                                                            font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
                                                            font-size:16px;">
                                                          / [if !mso]><!- -
                                                          %div{:align => "center", :style => "display: inline-block;\n              border-radius: 20px; \n              -webkit-border-radius: 20px; \n              -moz-border-radius: 20px; \n              max-width: 100%;\n              width: auto;\n              border-top: 0px solid transparent;\n              border-right: 0px solid transparent;\n              border-bottom: 0px solid transparent;\n              border-left: 0px solid transparent;"}
                                                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 42", :width => "100%"}
                                                              %tbody
                                                                %tr{:style => "vertical-align: top"}
                                                                  %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;border-radius: 20px;                   -webkit-border-radius: 20px;                   -moz-border-radius: 20px;                  color: #ffffff;                  background-color: #EDAD6A;                  padding-top: 5px;                   padding-right: 20px;                  padding-bottom: 5px;                  padding-left: 20px;                  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align: center", :valign => "middle"}
                                                                    / <![endif]
                                                                    %a{:href => "#{@tender.data_root_link}regulations.html", :style => "display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;background-color: #EDAD6A;color: #ffffff", :target => "_blank"}
                                                                      %span{:style => "font-size:12px;line-height:24px;"}
                                                                        %span{"data-mce-style" => "font-size: 16px; line-height: 28px;", :style => "font-size: 16px; line-height: 32px;"} Регламент
                                                                    / [if !mso]><!- -
                                                          / <![endif]
                                                          /[if mso]
                                                            </center>
                                                            </v:roundrect>
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] </td></tr></table>
                /[if mso]
                  </td></tr></table>
                /[if (IE)]
                  </td></tr></table>
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent", :width => "100%"}
          %tbody
            %tr{:style => "vertical-align: top"}
              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                /[if gte mso 9]
                  <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                /[if (IE)]
                  <table width="680" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                  <td>
                %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 680px;margin: 0 auto;text-align: inherit", :width => "100%"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                        %table.block-grid{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 680px;color: #000000;background-color: transparent", :width => "100%"}
                          %tbody
                            %tr{:style => "vertical-align: top"}
                              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="680">
                                .col.num12{:style => "display: inline-block;vertical-align: top;width: 100%"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px"}
                                                  %div{:style => "height: 1px;"}
                                                    %table{:align => "center", :border => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;border-top: 1px solid #BBBBBB;width: 100%"}
                                                      %tbody
                                                        %tr{:style => "vertical-align: top"}
                                                          %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top"}
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] </td></tr></table>
                /[if mso]
                  </td></tr></table>
                /[if (IE)]
                  </td></tr></table>
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent", :width => "100%"}
          %tbody
            %tr{:style => "vertical-align: top"}
              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                /[if gte mso 9]
                  <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                /[if (IE)]
                  <table width="680" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                  <td>
                %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 680px;margin: 0 auto;text-align: inherit", :width => "100%"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                        %table.block-grid.mixed-two-up{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 680px;color: #333;background-color: transparent", :width => "100%"}
                          %tbody
                            %tr{:style => "vertical-align: top"}
                              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="227">
                                .col.num4{:style => "display: inline-block;vertical-align: top;text-align: center;width: 227px"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 15px;padding-right: 10px;padding-bottom: 15px;padding-left: 10px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;width: 100%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px"}
                                                  %div{:align => "center", :style => "font-size:12px"}
                                                    %img{:align => "center", :alt => "Manager Pic", :border => "0", :src => "https://24tender.amocrm.ru#{@manager_pic}", :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: 0;height: auto;line-height: 100%;margin: 0 auto;float: none;width: 50px;max-width: 50px", :title => "Ваш персональный менеджер", :width => "50"}/

                                                    -# = image_tag("default_manager_pic.png", align: "center", alt: "Manager Pic", border: "0", style: "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: 0;height: auto;line-height: 100%;margin: 0 auto;float: none;width: 50px;max-width: 50px", title: "Ваш персональный менеджер", :width => "50")
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px"}
                                                  %div{:style => "color:#555555;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:14px;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"}
                                                        Ваш персональный менеджер -
                                                        %strong
                                                          %span{:style => "font-size: 14px; line-height: 16px;"} Андрей Михайлов
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="453">
                                .col.num8{:style => "display: inline-block;vertical-align: top;text-align: center;width: 453px"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 15px;padding-right: 0px;padding-bottom: 15px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px"}
                                                  %div{:style => "color:#555555;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:14px;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"}
                                                        телефон в Москве:
                                                        %a{:href => "tel:+74993220677", :style => "color:#000000;text-decoration: underline;", :title => "tel:+74993220677"} +7(499)322-06-77
                                                        доп. 1301
                                                        %br/
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"}
                                                         
                                                        %br/
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"}
                                                        телефон в Алматы:
                                                        %a{:href => "tel:+77273573097", :style => "color:#000000;text-decoration: underline;", :title => "tel:+77273573097"} +7(727)357-30-97
                                                        доп. 1301
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"}
                                                         
                                                        %br/
                                                      %p{:style => "margin: 0;font-size: 12px;line-height: 14px;text-align: center"}
                                                        e-mail:
                                                        %a{:href => "mailto:a_mihailov@24tender.kz", :style => "color:#000000;text-decoration: underline;", :title => "a_mihailov@24tender.kz"} a_mihailov@24tender.kz
                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] </td></tr></table>
                /[if mso]
                  </td></tr></table>
                /[if (IE)]
                  </td></tr></table>
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent", :width => "100%"}
          %tbody
            %tr{:style => "vertical-align: top"}
              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                /[if gte mso 9]
                  <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                /[if (IE)]
                  <table width="680" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                  <td>
                %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 680px;margin: 0 auto;text-align: inherit", :width => "100%"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                        %table.block-grid{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 680px;color: #000000;background-color: transparent", :width => "100%"}
                          %tbody
                            %tr{:style => "vertical-align: top"}
                              %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                /[if (gte mso 9)|(IE)] <td valign="top" width="680">
                                .col.num12{:style => "display: inline-block;vertical-align: top;width: 100%"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                    %tbody
                                      %tr{:style => "vertical-align: top"}
                                        %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                            %tbody
                                              %tr{:style => "vertical-align: top"}
                                                %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                  %div{:style => "color:#959595;line-height:150%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;"}
                                                    %div{:style => "font-size:12px;line-height:18px;color:#959595;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                                                      %p{:style => "margin: 0;font-size: 14px;line-height: 21px;text-align: center"}
                                                        %span{:style => "font-size: 14px; line-height: 21px; color: rgb(153, 153, 153);"}
                                                          Вы получили это сообщение потому что проявили интерес к возможности поставки товаров или услуг для заказчиков ЭТП
                                                          %a{:href => "#{@tender.data_root_link}", :style => "color:#000000;text-decoration: underline; color: rgb(153, 153, 153);", :target => "_blank"} 24TENDER



                                /[if (gte mso 9)|(IE)] </td>
                                /[if (gte mso 9)|(IE)] </td></tr></table>
                /[if mso]
                  </td></tr></table>
                /[if (IE)]
                  </td></tr></table>

-# %br/
-# %br/
-# %br/
-# %br/
-# = JSON.pretty_generate(@tender.data)
